h1 {
    color:cornflowerblue;
    margin-top: auto;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 68px;
}

#sealphoto {
    border-radius: 20px;
}